*{

margin: 0;
padding: 0;

}

body{

    background: rgb(237, 237, 237);
    overflow-x: hidden;
    
}



.Opcion{

height: 100px;
width: 100px;
background: transparent;

}

.logo{
width: 160px;
height: 80px;
margin-left: 60px;
background: transparent;

}



@font-face {
    font-family:'ExpletusSans-Italic-VariableFont_wght' ;
    src: url(../Fuentes/ExpletusSans-Italic-VariableFont_wght.ttf);
}


.Contenedor2{

background-color: red;
position: absolute;
margin-top: -200px;
height: 800px;
width: 100%;
z-index: -1;
background-image: url(../Imagen/James\ Packer\ buys\ $60\ million\ Crown\ penthouse.jpeg) ;
background-size: cover;
background-repeat: no-repeat;
filter: brightness(0.5);

}

.Informacion {
    width: auto;
    height: 200px;
    background-color: rgb(164, 164, 164);
    margin-bottom: 200px;
    margin-right: 200px;
    margin-top: 200px;
    margin-left: 200px;
    transition: background-color 0.3s, color 0.3s; 
  }
  
.Letras2 {
    padding: 20px;
    font-size: 29px;
    font-family: 'ExpletusSans-Italic-VariableFont_wght';
    font-weight: bold;
    color: #ffffff;
    background-size: contain;
    text-align: center;
 }
  
  .Informacion:hover {
    background-color: rgb(205, 205, 205);
    color: #8e8e8e; 
  }


.Contenedor3{

margin-top: 175px;
width: 100%;
height: 200px;
background-color: transparent;
position: relative;
overflow: hidden;
font-size: 39px;
font-family: 'ExpletusSans-Italic-VariableFont_wght';
font-weight: bold;
color: #000000;
text-align: center; 


}






.Titulo{

  margin-bottom: 100px;
  margin-right: 100px;
  margin-top: 100px; 
  margin-left: 100px;
  background-size: contain;

}

.Casas {
    width: auto;
    height: 400px;
    background: rgb(200, 199, 199);
    border: #ffffff;
    margin-bottom: 20px;
    display: flex;
    align-items: center; 

  }
  
  .ImagenCasa {
    
    flex: 1;
    padding: 0px; 
  }
  
  .ImagenCasa img {
    width: 600px; 
    height: 400px; 
    background-size: contain;
  }
  
  .CaracteristicasCasa {
    flex: 2; 
    padding: 20px; 
  }

  
  
  .CaracteristicasCasa h2 {
    font-size: 24px;
    margin-left: 300px;
    margin-top: -150px;
    font-size: 39px;
    font-family: 'ExpletusSans-Italic-VariableFont_wght';
    font-weight: bold;
    color: #000000;
  }
  
  .CaracteristicasCasa ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    position: absolute;
  }
  
  .CaracteristicasCasa li {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 100px;
    font-size: 19px;
    font-family: 'ExpletusSans-Italic-VariableFont_wght';
  }

  .ImagenExpandida {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
  }
  
  .ImagenExpandida img {
    max-width: 90%; 
    max-height: 90%;
  }


  .Footer {
    background: white;
    color: black;
    padding: 20px 0;
  }
  
  .FooterContenedor {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .FooterSeccion {
    flex: 1;
    margin-right: 30px;
  }
  
  .FooterSeccion h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .FooterSeccion p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .FooterSeccion ul {
    list-style: none;
    padding: 0;
  }
  
  .FooterSeccion li {
    margin-bottom: 5px;
  }
  
  .RedesSociales a {
    display: inline-block;
    margin-right: 10px;
  }
  
  
  .RedesSociales img {
    width: 24px;
    height: 24px;
  }
  

  .Footer a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .Footer a:hover {
    color: #f0f0f0;
  }





  




  header {
    width:100%;
    
  }
  
  header nav {
    width:100%;
    max-width:1630px;
    background:white;
    font-size: 29px;
  }
  
  .menu_bar {
    display:none;
  }
  
  header nav ul {
    overflow:hidden;
    list-style:none;
  }
  
  header nav ul li {
    float:left;
  }
  
  header nav ul li a {
    color:black;
    padding:20px;
    display:block;
    text-decoration:none;
  }
  
  header nav ul li span {
    margin-right:10px;
  }
  
  header nav ul li a:hover {
    background:#6af0ff;
  }
  
  section {
    padding:20px;
  }
  
  @media screen and (max-width:1000px ) {
    header nav {
      width:80%;
      height:100%;
      left:-100%;
      margin:0;
      position: fixed;
    }
  
    header nav ul li {
      display:block;
      float:none;
      border-bottom:1px solid rgba(255,255,255, .3);
    }
  
    .menu_bar {
      display:block;
      width:100%;
      background:#ccc;
    }
  
    .menu_bar .bt-menu {
      display:block;
      padding:20px;
      background:white;
      color:#000000;
      text-decoration:none;
      font-weight: bold;
      font-size:25px;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }
  
    .menu_bar span {
      float:right;
      font-size:40px;
    }
  }


